{% extends 'base.html' %} {% block content %}
{% if page == 'success' %}
<div class="col-md-5 offset-md-3 p-4">
  <h2 class="text-center mt-4 mb-3">Forgot Password</h2>
  <p class="text-center">
    If provided email is a registered email ID on Codegen, you will receive
    an email with further instructions on how to reset your password. In case
    you didn't receive this email, you need to create a new account <a href="/register"> here</a>
  </p>
  <a href="/login" class="btn btn-success w-100 mt-2"> Login</a>
  </div>
</div>

 {%else%}

<div class="col-md-5 offset-md-3 p-4">
  <form method="POST" action="">
    {% csrf_token %}
    <h2 class="text-center mt-4 mb-3">Forgot Password</h2>
    <p class="text-center">
      No Problem! Enter your email below and we will send you an email with
      instruction to reset your password.
    </p>
    <p>
      <input
        type="email"
        name="email"
        maxlength="150"
        autofocus
        class="form-control"
        placeholder="Email"
        required
        id="id_email"
      />

      <span class="helptext"
        ><span class="form-text text-muted"><small></small></span
      ></span>
    </p>
    <input type="submit" value="Send Reset Link" class="btn btn-success w-100 mt-2" />
    <div class="mt-1 mr-0">
      <a href="/" class="btn"
        >Back to Login</a
      >
    </div>
  </form>
</div>
{% endif %} {% endblock %}