{% extends 'base.html' %} {% block content %}


{% if valid %}
<div class="col-md-5 offset-md-3 p-4">
  <form method="POST" action="">
    {% csrf_token %}
    <h2 class="text-center mt-4 mb-3">Enter New Password</h2>
    <p class="text-center">
      Looks like you are trying to reset the password for the account. Please
      enter your new password twice. So we can verify you typed it correctly.
    </p>
    <p>
      <input
        type="password"
        name="password"
        autofocus
        class="form-control"
        placeholder="New Password"
        required
        id="id_password"
      />

      <span class="helptext"
        ><span class="form-text text-muted"
          ><small
            >Required. 150 characters or fewer. Letters, digits and @/./+/-/_
            only.
          </small></span
        ></span
      >
    </p>
    <p>
      <input
        type="password"
        name="password2"
        autofocus
        class="form-control"
        placeholder="Confirm Password"
        required
        id="id_password2"
      />
    </p>
    <input
      type="submit"
      value="Change Password"
      class="btn btn-success w-100 mt-2"
    />
    <div class="mt-1 mr-0">
      <a href="/" class="btn">Back to Login</a>
    </div>
  </form>
</div>
{% else %}
    <div class="col-md-5 offset-md-3 p-4">
  <h2 class="text-center mt-4 mb-3">Invalid Reset Link</h2>
  <p class="text-center">
   Password reset link is invalid.
  </p>
  <a href="/forgot_password" class="btn btn-success w-100 mt-2"> Generate Reset Link</a>
  </div>
</div>
{%endif%}
{% endblock %}
